gymnasium
PyYAML
chardet
numpy
causalnex
tqdm
pandas
setuptools
networkx
matplotlib
gym
ray
causal-learn
pyparsing>=3.0
statsmodels>=0.13
opt_einsum>=3.3
xgboost>=2.0.3
torch
pyglet
six
scipy
seaborn
scikit-learn
pgmpy
psutil